*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
dd {
	margin: 0;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

input,
button,
textarea,
select {
	font: inherit;
}

* {
	font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
	color: #1F1F1F;
}

nav {
	background-color: #ffffff;
	position: fixed !important;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 2px 12px 0 rgb(36 50 66 / 8%);
	padding: 16px 24px;
	z-index: 10;
}

button {
	cursor: pointer;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 24px;
}

.bookshelf-input {
	margin-top: 100px;
}

.btn {
	border: 1px solid transparent;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: unset;
	line-height: 24px;
	outline: 1px solid transparent;
	outline-offset: -4px;
	padding: 8px 24px;
	position: relative;
	text-align: center;
	text-transform: unset;
	min-height: 50px;
	box-sizing: border-box;
}

.btn-small {
	padding: 4px 8px;
	min-height: 20px;
	font-size: 14px;
}

.btn-primary {
	background-color: #2d3e50;
	border-color: #2d3e50;
	color: #fff;
}

.btn-danger {
	background-color: #ff0000;
	color: #FFFFFF
}

.add-search-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.form-search {
	position: relative;
}

.search-icon {
	left: 1rem;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}

.input-search-book {
	border-color: #e4e4e7;
	font-size: .9rem;
	font-weight: 500;
	height: 50px;
	padding: .375rem 1rem .375rem 2.5rem;
	line-height: 1.5;
	color: #495057;
	background-color: #FFFFFF;
	background-clip: padding-box;
	border: 1px solid #CED4DA;
	border-radius: .25rem;
	margin-right: 4px;
}

.search-results-wrapper {
	display: none;
	margin-bottom: 16px;
}

.book-section-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.book-section {
	flex-grow: 1;
}

.section-subheading {
	margin-bottom: 8px;
}

.book-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.book-item {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
	border-radius: .25rem;
	border: 1px solid #DEE2E6;
	padding: 12px;
}

.book-title {
	font-weight: 700;
}

.book-action {
	margin-top: 8px;
	display: flex;
	gap: 8px;
}

.modal {
	height: 100vh;
	width: 100vw;
	background-color: #3D3D3D60;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
}

.modal-dialog {
	max-width: 500px;
	height: fit-content;
	background-color: #FFFFFF;
	margin: 80px auto;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-top-left-radius: calc(.3rem - 1px);
	border-top-right-radius: calc(.3rem - 1px);
}

.modal-close {
	border: none;
	background-color: unset;
	color: grey;
	opacity: .4;
}

.modal-body {
	padding: 16px;
	overflow-y: auto;
}

.input_section {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border: 1px solid #000000;
	border-radius: 10px;
}

.form-add-book>.input {
	margin: 8px 0;
}

.form-add-book>button {
	display: block;
	width: 100%;
	margin-top: 20px;
}

.form-add-book>.input>input {
	display: block;
	width: 100%;
	padding: 8px;
	border-radius: 5px;
}


.form-add-book>.input>label {
	font-weight: bold;
}

.form-add-book>.input>input {
	border: 1px solid #d4d4d8;
	border-radius: 2px;
	height: calc(1.9em + .75rem + 2px);
}

.form-add-book>.input_inline>label {
	font-weight: bold;
	margin-right: 10px;
}

.no-data-yet {
	color: #424242
}

.form-confirm-delete {
	display: flex;
	gap: 16px;
	justify-content: space-between;
}

.form-confirm-delete>button {
	width: 100%;
}